<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Live_FixturesConnectionString" connectionString="Data Source=CAP-ITD-A0681\SQLEXPRESS;Initial Catalog=Live_Fixtures;Persist Security Info=True;User ID=Internet_Fixtures;Password=tallycam106" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=30;" />
    <!--<add key="ConnectionString" value="Server=ATLAS-SQL-07; Database=barryleaguestestcou_861334_db1; User Id=ubar_861334_0001; Password=b%5G!Er2" /> -->
    <add key="ConnectionString" value="Server=BarryLeaguesDB.db.11518067.hostedresource.com;Initial Catalog=BarryLeaguesDB;Database=BarryLeaguesDB; Uid=BarryLeaguesDB; Password=
         106%" />
    <!--*********LIVE OR TEST FLAG 3=Production (live), 1=Local Live DB and 0=Local Test DB***********-->
    <add key="LiveOrTest" value="1" />
    <!--*********WORK OR HOME FLAG W=Work H-Home **************-->
    <add key="WorkOrHome" value="H" />
    <!--*********Admin Password **************-->
    <add key="Admin" value="bd106" />
    <!--*******************************************************-->
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,posT" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <asp scriptErrorSentToBrowser="true" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <!--<httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="G:\PleskVhosts\barryleagues.co.uk\error_docs\maintenance.html" />
    </httpErrors>-->
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,posT" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpHandlers>
    <!--<sessionState mode="Off" cookieless="true" timeout="30"/> -->
    <!--<sessionState mode="Off" cookieless="false" timeout="30"/>-->
    <sessionState mode="InProc" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!-- Turn on Custom Errors -->
    <!--
    <customErrors mode="On"
      defaultRedirect="DefaultRedirectErrorPage.aspx">
      <error statusCode="404" redirect="Http404ErrorPage.aspx"/>
    </customErrors>-->
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <!--tempDirectory="G:\PleskVhosts\barryleagues.co.uk\tmp">-->
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />
    <trust level="Full" />
  </system.web>
</configuration>